<div class="container">


    <div class="intro-text">
      <h1>Create Account</h1>
    </div>

  <div class="radio">
    <input id="radio-1" name="radio" type="radio" (click)="createUser()" checked>
    <label for="radio-1" class="radio-label" id="radio">User</label>
    &nbsp;
    <input id="radio-2" name="radio" type="radio" (click)="createAdmin()">
    <label  for="radio-2" class="radio-label"id="radio">Admin</label>
  </div>

<!--  <div class="form-check">-->

<!--    <input type="radio" class="radio"  id="radio1" name="optradio" value="Admin" [(ngModel)]="admin" checked>Admin-->
<!--    <label class="radio" for="radio1"></label>-->
<!--  </div>-->
<!--  <div class="form-check">-->
<!--    <input type="radio" class="radio" id="radio2" name="optradio" value="Customer" [(ngModel)]="customer">Customer-->
<!--    <label class="radio" for="radio2"></label>-->
<!--  </div>-->



 <form (ngSubmit)="userSignUp()">
    <div class="container2">
      <div class="row">
        <div class="col">
          <div class="inputs">
            <div class="input">
              <input type="text" [(ngModel)]="signup.name" name="name" id="name" required/>
              <label for="name">
                Name
              </label>
            </div>
            <div class="input">
              <input type="text" [(ngModel)]="signup.email" name="email" id="email" required/>
              <label for="email">
                Email
              </label>
            </div>
            <div class="input">
              <input type="text" [(ngModel)]="signup.mobile" name="mobile" id="mobile" required/>
              <label for="mobile">
                Mobile
              </label>
            </div>
            <div class="input">
              <input type="text" [(ngModel)]="signup.userName" name="userName" id="userName" required/>
              <label for="userName">
                User Name
              </label>
            </div>
            <div class="input">
              <input type="text" [(ngModel)]="signup.password" name="password" id="password" required/>
              <label for="password">
                Password
              </label>
            </div>

            <div class="input">
              <input type="text"  name="confirmps" id="confirmps" required/>
              <label for="confirmps">
                Confirm Password
              </label>
            </div>
          </div>
        </div>

        <div class="col">
          <div id="col2">
            <div class="input">
              <input type="text" [(ngModel)]="signup.address" name="address" id="address" required/>
              <label for="address">
                Address
              </label>
            </div>
            <div class="input">
              <input type="text" [(ngModel)]="signup.nic" name="nic" id="nic" required/>
              <label for="nic">
                Nic
              </label>
            </div>

            <div class="input">
              <input type="text" [(ngModel)]="signup.empNo" name="empNo" id="empNo" required/>
              <label for="empNo">
                Employee Number
              </label>
            </div>
          </div>
        </div>

      </div>
    </div>





  <button type="submit">Create Account</button>
 </form>
  <button routerLink="/login">Login</button>
</div>

